header {
  width: 100%;
  background-color: #201C3F;
  padding: 20px;
  clear: both; }

nav ul {
  margin: 0;
  padding: 0; }

nav li {
  display: inline-block; }

nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding: 20px; }
  nav a:hover {
    background-color: white;
    color: black; }

.container {
  width: 100%; }

section, aside {
  margin: 5%;
  padding: 0;
  display: inline-block;
  vertical-align: top; }
  section button, aside button {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 1;
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-align: center; }

aside {
  width: 30%; }

section {
  width: 49%; }
